
<div class="row">
    <div class="col-6">
        <h2 class="text-danger">National Park List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-success" asp-action="Upsert">
            <i class="fas fa-plus"></i>&nbsp;New National Park


        </a>
    </div>
</div>
<div class="p-3">
    <table id="tblData" class="table table-bordered table-striped table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>States</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
    {
    <script src="~/js/nationalPark.js"></script>
}